
#abt{
    background-color:rgb(160, 221, 136);
 }

#abt{
    display: flex;
    justify-content: space-around;
}
.pic{
    background-image:url(detail-feuille-tropicale-sombre.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
    width: 500px;
    padding: 100px;
    margin-top: 83px;

}
p{
    padding: 15px;
    color: aliceblue;
    text-align: center;
    width: 750px;
    margin-top: 155px;
    font-size: 22px;
    color: #0F2120;
}
