*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-bar{
    color: crimson;
    background-color: #294B29;
    text-align: center;
    height: 82px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:gray;
}
.menu-bar ul li{
    height: 50px;
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;  
}
.active,.menu-bar ul li:hover{
    background-color: #789461;
    border-radius: 3px;
    

}
.menu-bar .fa{
    margin: 25px;
}


.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: #d0eba8;
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: rgb(0, 145, 255);
}
.fa-solid fa-file{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color:#DBE7C9;
}
.logo{
    margin-right:250px;
    border: 5px solid #789461;
    background-origin:inherit;
    border-radius: 15px 50px 30px;
    padding: 15px;
    padding-right: 15px;
    padding-top: 15px;
    color: #DBE7C9;
}
ul{
    font-size: large;
    text-shadow: 0 0 20px #789461,0 0 40px #49da0f;
    color:rgb(160, 221, 136);
}
.fa{
    color: #49da0f;
    background-color: #49da0f;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.card-img-top{
    height: 200px;
    width: 200px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


#abt{
    display: flex;
    justify-content: space-around;
    
}
.pic{
    border-radius: 25px;
    background-image:url(gallery/scubadiving.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    height: 334px;
    width: 500px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 50px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.pic1{
    border-radius: 25px;
    background-image:url(gallery/ncamping.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 334px;
    width: 500px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 50px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.pic2{
    border-radius: 25px;
    background-image:url(gallery/hikking1.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 334px;
    width: 500px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 50px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.pic3{
    border-radius: 25px;
    background-image:url(gallery/skydive.jpg);
    background-size: 115% 114%;
    background-repeat: no-repeat;
    height: 334px;
    width: 500px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 50px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}



.textabt{
    color: aliceblue;
    text-align: center;
    width: 750px;
    margin-top: 70px;
    font-size: 20px;
    line-height: 30px;

}
.cont{
    border: #789461 2px solid;
    box-shadow: 0 0 20px #789461;
    width: 98%;
     margin-right: 1%; 
     margin-left:1% ;
     margin-top: 1%;
    display: flex;
    border-radius: 25px;
    justify-content: space-between;

}
.bigcontiner{
    background-color: #789461;
}
i{
    color: black;
}
.fa{
    margin:5px;
}
.lesiconscnt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.icontext{
    display: flex;
    align-items: center;
    gap: 10px;
}

.h1titlecard{
    margin-top: 5%;
    font-size: large;
    font-size:24px ;
    margin-left: 12px;
    text-decoration-line:underline;
    text-decoration-color:#8FC2B6;
    color:rgba(0, 0, 0, 0.659);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.destinations{
    text-decoration: none;
    font-size: large;
}
#f1card{
    margin-bottom: 70px;
}
#h1titlecard1{
    margin-left: 55px;
}
#h1titlecard2{
    margin-right: 85px;
}
#h1titlecard3{
    margin-left: 75px;
}
#h1titlecard4{
    margin-left: 115px;
}
#cnt1{
    background-color: #5BBACC;
}
#cnt2{
    background-color: rgb(227, 168, 50);
}
#cnt3{
    background-color: #46200C;
}
#cnt4{
    background-color:#C3CACE;
}
#textcard1{
    margin-right: 45px;
}
#textcard2{
    margin-right: 45px;
}
#textcard3{
    margin-right: 45px;
}
#textcard4{
    margin-right: 45px;
}