

/*home page*/
*{
    
    /* text-shadow: 0 0 20px #789461,0 0 40px #49da0f;
    color:rgb(160, 221, 136); */
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.menu-bar{
    color: crimson;
    background-color: #306230;
    text-align: center;
    height: 82px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:gray;
}
.menu-bar ul li{
    height: 50px;
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;  
}
.active,.menu-bar ul li:hover{
    background-color: #789461;
    border-radius: 3px;
    

}
.menu-bar .fa{
    margin: 15px; 
}


.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: #d0eba8;
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: rgb(0, 145, 255);
}
.fa-solid fa-file{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color:#DBE7C9;
}
.logo{
    margin-right:250px;
    border: 5px solid #789461;
    background-origin:inherit;
    border-radius: 15px 50px 30px;
    padding: 15px;
    padding-right: 15px;
    padding-top: 15px;
    color: #DBE7C9;
}
ul{
    font-size: large;
    text-shadow: 0 0 20px #789461,0 0 40px #49da0f;
    color:rgb(160, 221, 136);
}
.fa{
    color: #49da0f;
    background-color: #49da0f;
}
.imgS{
    height: 756px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),  url(gallery/img7.jpg);
    background-size:150%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    Background-size:cover;
    Background-attachment:fixed;
    font-family: sans-serif;
    background-size: cover;
}
#welc{
    font-size:43px;
    text-align: center;
    padding-top: 250px;
    /*text-shadow: 0 0 20px #789461,0 0 40px #49da0f;*/
    /*color:rgb(160, 221, 136);*/
    height: 100%;

    background:  linear-gradient(
    to left,#265003,#79cc80 25% ,#40c3de );
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: grandient 3s linear infinite;}
@keyframes grandient {
    0% { background-position: 0% 75%;}
    50%{ background-position: 100% 50%;}
    100% { background-position: 0% 70%;}
}

.card-background{
    background-color: #d0eba8;
    

}
.card-body{
    background-color:#d0eba8 ;
}
.card{
    border: 2px solid #294B29;
    
}
.border-cards{
    border: 2px solid #198754;
    border-radius: 25px;
}




/*about*/
#abt{
    background-color:rgb(160, 221, 136);
    height: 800px;
 }

#abt{
    display: flex;
    justify-content: space-around;
}
.pic{
    border: #0F2120 solid 2px;
    box-shadow: 10px 10px 5px 12px #006300;;
    border-radius: 25px;
    background-image:url(gallery/detail-feuille-tropicale-sombre.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 700px;
    width: 500px;
    margin-top: 50px;
}
.textabt{

    padding: 250px;
    padding: 15px;
    color: aliceblue;
    text-align: center;
    width: 750px;
    margin-top: 80px;
    font-size: 24px;
    line-height: 37px;
    color: #0C2A29 !important;
}

/*footer*/
.footer{
    height: 350px;
    width: 100%;
    background-color: #294B29;
}
.footer{
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.lesliens{
    display: flex;

}




/*  cards clients (in more abt clients page )   */ 
.card-img-top{
    height: 200px;
    width: 200px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


#abt{
    display: flex;
    justify-content: space-around;
    
}
.pic{
    border-radius: 25px;
    background-image:url(gallery/explor.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}
.pic1{
    border-radius: 25px;
    background-image:url(gallery/firends.avif);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}
.pic2{
    border-radius: 25px;
    background-image:url(gallery/family.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}
.pic3{
    border-radius: 25px;
    background-image:url(gallery/kids.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}
.pic4{
    border-radius: 25px;
    background-image:url(gallery/scientist.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}
.pic5{
    border-radius: 25px;
    background-image:url(gallery/solo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}

.textabt{
    color: aliceblue;
    text-align: center;
    width: 750px;
    margin-top: 70px;
    font-size: 20px;

}


.cont{
    border: #789461 2px solid;
    box-shadow: 0 0 20px #789461;
    width: 98%;
     margin-right: 1%; 
     margin-left:1% ;
     margin-top: 1%;
    display: flex;
    border-radius: 25px;
    justify-content: space-between;

}
.bigcontiner{
    background-color: #789461;
}
i{
    color: black;
}
.fa{
    margin:5px;
}
.lesiconscnt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.icontext{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* cards home */
#img1{
    height: 191px;
    width: 288px;
    
}
.container{
    display: flex;
   justify-content: space-around ;
   
   /* border: 5px solid #198754;
   border-radius: 25px; */
}
.card-background{
   background-color: #d0eba8;

}
.lesliens{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;    
}
.ftr{
    text-decoration: none;
    color: whitesmoke;
    font-size: medium;
}
.cardtitle{
   text-shadow: 0 0 20px #789461,0 0 40px #49da0f;
   color: #294B29;
}
.card-body{
   padding: 5px;
   font-size: 18px;
   line-height: 33px;

}
.card-title{
    padding: 30px;
    margin: -25px;

}
.card-text{
    padding: 15px;
    font-size:18px;
}
#btn{
    text-decoration: none;
}
.btn{
    margin-top: 15px;
    margin-left:25px;
    border: 2px solid black;
    height: 40px;
    width: 95px;
    background: #C1E103;
    color: #C2BC0F;
    border-radius: 5px;
}
.btn1{
    margin-top: 15px;
    margin-left:25px;
    border: 2px solid black;
    height: 40px;
    width: 95px;
    background: #F2A600;
    color: #C2BC0F;
    border-radius: 5px;
}
.btn2{
    margin-top: 15px;
    margin-left:25px;
    border: 2px solid black;
    height: 40px;
    width: 95px;
    background: #C10C1A;
    color: #C2BC0F;
    border-radius: 5px;
}

.border-cards{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 35px;
}
@media screen and (max-width:676px){
    .menu-bar{
        display: none;
        visibility: hidden;
    }
    #welc{
        font-size: large;
        margin-left: 28px;
    }
    .imgS{
        height: 500px;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1)),  url(gallery/Responsivehome.jpg);
    }
    .textabt{
        font-size: 5px;
    }
    }



