.h1signin{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#137C8B ;
    color:#709CA7 ;
    display: flex;
    justify-content: space-around;
    text-shadow: 0 0 20px #F99E03,0 0 40px #876073;

}
button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border:2px solid white ;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    
}
button a {
    text-decoration: none;
}
.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#137C8B ;
    color:#709CA7 ;
    /* background-image: url(img1.png); */
    background-color: #00fffb;
    position: sticky;
    background-color: #111;
    top: 0;
}
.licnt{
    display: flex;
    justify-content: space-around;
}
.ul{
    list-style: none;
}
body{
    background-image: url(img5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.menu-bar{
    background-color: rgb(0, green, 0);
    text-align: center;
}