.h1signin{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#137C8B ;
    color:#709CA7 ;
    display: flex;
    justify-content: space-around;
    text-shadow: 0 0 20px #00fffb,0 0 40px #0081bc;

}
button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border:2px solid white ;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    
}
button a {
    text-decoration: none;
}
.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#137C8B ;
    color:#709CA7 ;
    background-image: url(img1.png);
    position: sticky;
    background-color: #111;
    top: 0;
}
.licnt{
    display: flex;
    justify-content: space-around;
}