body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.10)),url(img6.jpg);
    /* background-repeat: no-repeat;
    background-size: 100%;*/
    Background-repeat : no-repeat;
    Background-position:center;
    Background-size:cover;
    Background-attachment:fixed;
} 
.formulaire{
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    background-color: 13232A;
    height:300px;
    width: 450px;
    justify-content: space-around;
    justify-content: space-around;
    color:	#fb9062;
     text-shadow: 0 0 20px rgb(247, 183, 51) ,0 0 40px  rgb(252, 74, 26) ; 
    align-self: center;
    border:1px none; 
    border-radius: 10px;
    align-content: center;
    margin: 225px;
    margin-left: 600px;
    margin-top: 100px; 
   
}
input{
    width: 275px;
    height: 35px;
    border-radius: 5px;
    background-color: 13232B;
}
.welcome{
    color:	#fb9062;
    text-shadow: 0 0 20px rgb(247, 183, 51) ,0 0 40px  rgb(252, 74, 26) ;
    margin-top: 100px;
    margin-left:600px;
}
a{
    text-decoration: none;
    color: 	#fb9062;
    margin-bottom: 30px;
}
.signin{
    padding-right: 10px;
    border: 1px solid ;
    border-color:#fb9062;
    background-color: #fb9062;
    border-radius:5px;
    height: 35px;
    width: 275px;
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
}
.signin{
    margin: 4px;
}

